SampleScripts/XML/people2.dtd

<!ENTITY USA   "United States of America">
<!ENTITY UK    "United Kingdom">


<!ELEMENT PEOPLE ( PERSON+ ) >

<!ELEMENT PERSON ( NAME, ADDRESS, TEL, FAX, EMAIL ) >
<!ATTLIST PERSON PERSONID ID #REQUIRED>

<!ELEMENT NAME (#PCDATA)>
<!ELEMENT ADDRESS ( #PCDATA ) >
<!ELEMENT TEL ( #PCDATA ) >
<!ELEMENT FAX ( #PCDATA ) >
<!ELEMENT EMAIL ( #PCDATA ) >





